<html>
    <body>
        <form action= "{{url_for('editMenu', r_id = r_id, m_id=item.id)}}" method = 'POST'>
            <p>Name:</p>
            <input type = 'text' size='30' name = 'name' placeholder = '{{item.name}}'>
            <p>Description:</p>
            <input type = 'text' size='30' name = 'description' placeholder = '{{item.description}}'>
            <p>Price:</p>
            <input type = 'text' size='30' name = 'price' placeholder = '{{item.price}}'>
            <p>Course:</p>
            <input type="radio" name="course" value="Appetizer" checked> Appetizer<br>
            <input type="radio" name="course" value="Entree" checked> Entree<br>
            <input type="radio" name="course" value="Dessert" checked> Dessert<br>
            <input type="radio" name="course" value="Beverage" checked> Beverage<br>
            <input type='submit' value='Edit'>
        </form>
        <a href= '{{url_for('restaurantMenu', id= item.restaurant_id)}}'>Cancel</a>
    </body>
</html>